.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

.Profile-img-full {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  margin: auto;
}


.Profile-img-surround {
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
  border-radius: 6px;
  margin-right: 1em;
  padding: 2px;
  text-align: center;
  overflow: hidden;
  max-width: 80%;
  float: left;
}

.App-content {
  padding: 1em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.Form-row, .Form-header, .Form-error, .Form-success {
  max-width: 95vw;
  margin: 1rem auto 1rem auto
}

.Form-header {
  font-size: 1.6em;
  color: black;
}

.Form-subheader {
  font-size: 1.3em;
  color: black;
}

.inline {
  display: inline;
}

.Form-success, .Form-error {
  border-radius: 5px;
  padding: 0.5em;
}

.Form-error {
  font-size: 1em;
  width: 100%;
  font-weight: bolder;
  display: inline-block;
  color: white;
  background-color: orangered;
}

.Form-success {
  font-size: 1em;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  color: white;
  background-color: lightseagreen;
}

.columnForm, .responsiveFormColumn {
  max-width: 700px;
  text-align: left;
  margin: auto;
}

.multiColumnFormContainer {
  max-width: 1400px;
  margin: auto;
}

.map {
  margin-bottom: .3em;
}

.responsiveFormColumn {
  float: left;
  padding-right: 10px;
}

.form-group {
  max-width: 95vw;
  margin: auto;
}

.Table-control {
  margin-right: 2em;
  margin-bottom: .5em;
}

@media only screen and (orientation: portrait) {
  .Profile-img-surround {
    float: none;
    margin: auto;
  }
  .responsiveFormColumn {
    float: none;
  }

  .multiColumnFormContainer {
    max-width: 700px;
    margin: auto;
  }

  .responsiveFormColumn {
    float: none;
  }
}

.truncated-cell {
  text-overflow: fade;
  max-width: 100%;
  max-height: 1.5em;
  overflow: hidden;
}

.smaller-text {
  font-size: 0.85em;
}

.flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chronicle-options {
  border-bottom: 1px solid black;
  margin: 1em;
}